.demo-list{padding:10px; line-height:20px; font-size:14px; box-sizing:border-box;}
.demo-list .title{ margin-bottom:10px; font-size:16px; color:#369; font-weight:bold;}
.demo-list li{ margin-bottom:5px;}
.demo-list a:link,.demo-list a:visited{ color:orange; text-decoration:underline;}
.demo-list a:hover,.demo-list a:active{ color:gray;}

.w-33{ width:33%;}
.w-100{ width:100%;}