.demo-list{margin:10px; line-height:20px; font-size:14px;}
.demo-list li{ margin-bottom:5px;}
.demo-list a:link,.demo-list a:visited{ color:orange; text-decoration:underline;}
.demo-list a:hover,.demo-list a:active{ color:gray;}