.waiting{ padding-top:100px; font: 32px/1.5 'Microsoft YaHei'; color:#f33; text-align:center;}
.list{ position:fixed; z-index:15; right:10px; bottom:10px;}
.demo-icon{ display:block; margin-bottom:.1rem; padding:5px 10px; line-height:.2rem; text-align:center; color:#fff; font-size:12px; background:orange; border-radius:.2rem;}